# Ignore common Visual Studio and Git related files/folders that should not be tracked
.vs/
*.user
*.suo
*.ncb
*.vcxproj.user
*.vcproj.*.user
*.pdb
*.obj
*.exe
*.dll
*.log
*.tlog
*.ipch
*.aps
*.pch
*.ilk
*.idb
*.tmp
*.cache
*.log
*.o
*.res
Debug/
Release/
x64/
x86/

# Allow specific file types
!*.c
!*.h
!*.cpp
#!*.cs             # C# 파일도 포함하려면 추가 (수업 예제에 C#이 있다면)
#!*.sln            # 솔루션 파일
#!*.vcxproj        # C++ 프로젝트 파일 (C++ 프로젝트를 직접 추적하려면)
#!*.csproj         # C# 프로젝트 파일 (C# 프로젝트를 직접 추적하려면)
!README*

# Optionally, you might want to explicitly allow project folders if they are still being ignored
#!**/my_c_project/
#!**/my_cpp_project/
#!**/my_csharp_project/