@page
@model wineweb.Pages.HistoryModel
@{
    ViewData["Title"] = "사업연혁";
}
<h2>사업연혁</h2>
<ul>
    <li>1987 - 회사 설립</li>
    <li>1995 - 유럽 진출</li>
    <li>2005 - 미국 수출 시작</li>
    <li>2020 - 온라인 플랫폼 런칭</li>
</ul>