@page
@model wineweb.Pages.ProductsModel
@{
    ViewData["Title"] = "제품소개";
}
<h2>제품 소개</h2>
<div class="row">
    <div class="col-md-4">
        <img src="/images/wine1.jpg" class="img-fluid" />
        <p>샤또 마고 2015</p>
    </div>
    <!-- 더 추가 가능 -->
</div>
